[Unit]
Description=The mProv Jobserver
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mprov_jobserver -c /etc/mprov/jobserver.yaml

[Install]
WantedBy=multi-user.target